[submodule "lib/HX711"]
	path = lib/HX711
	url = https://github.com/bogde/HX711.git
[submodule "lib/LiquidCrystal_I2C"]
	path = lib/LiquidCrystal_I2C
	url = https://github.com/johnrickman/LiquidCrystal_I2C.git
